<section>
  <div class="logo">
    <img src="assets/imgs/logo.png" alt="" />
    <h1>DABubble</h1>
  </div>

  <mat-card>
    <button class="backButton" (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Passwort zurücksetzen</h1>
    <div class="inputDiv">
      <input [formControl]="passwordFormControl"
        #firInput
        [(ngModel)]="inputValue"
        (input)="input = true; checkSamePw()"
        placeholder="Neues Passwort"
      />
      <mat-error *ngIf="passwordFormControl.hasError('required') && this.input"
        >*Passwort wird benötigt.</mat-error
      >
      <mat-error
        *ngIf="
          !passwordFormControl.valid &&
          !passwordFormControl.hasError('required')
        "
        >*Einen Groß- & Kleinbuchstaben / eine Zahl und ein
        Sonderzeichen. (Beispiel1!)</mat-error
      >
      <mat-error
        class="green"
        *ngIf="passwordFormControl.valid && validatePassword()"
        >*Passwort ist gültig.</mat-error
      >
    </div>

    <div class="inputDiv">
      <input 
        #secInput
        [(ngModel)]="inputValue2"
        (input)="input2 = true; checkSamePw()"
        placeholder="Neues Passwort bestätigen"
      />
      <mat-error *ngIf="!this.samePw && this.input2"
        >*Passwörter stimmen nicht überein.</mat-error
      >
      <mat-error
        class="green"
        *ngIf="this.samePw && firInput.value !== ''"
        >*Passwörter stimmen überein.</mat-error
      >
    </div>

    <div class="buttonDiv">
      <button
        (click)="resetPw()"
        [disabled]="enableButton()"
        mat-raised-button
        color="primary"
      >
        Passwort ändern
      </button>
    </div>
  </mat-card>
  
  <div id="overlay" class="overlay">
    <h1>Anmelden</h1>
  </div>
</section>
