<section>
    <div class="logo">
      <img src="assets/imgs/logo.png" alt="" />
      <h1>DABubble</h1>
    </div>
  
    <mat-card>
      <button class="backButton" (click)="back()">
        <mat-icon>arrow_left</mat-icon>
      </button>
      <h1>Passwort zurücksetzen</h1>

      <p>Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
  
      <mat-form-field appearance="outline">
        <mat-label>Passwort</mat-label>
        <input #firInput [(ngModel)]="inputValue"
          matInput (input)="input=true; checkSamePw()"
          [type]="hide ? 'password' : 'text'"
          placeholder="Beispiel1!"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          <mat-icon matSuffix>lock</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Passwort</mat-label>
        <input #secInput [(ngModel)]="inputValue2"
          matInput (input)="input2=true; checkSamePw()"
          [type]="hide ? 'password' : 'text'"
          placeholder="Beispiel1!"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          <mat-icon matSuffix>lock</mat-icon>
        </button>
      </mat-form-field>
      <p>Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</p>
      <div>
        <button (click)="resetPw()" [disabled]="enableButton()" mat-raised-button color="primary">
          Weiter
        </button>
      </div>
    </mat-card>
    <div class="linksBottom">
      <a href="">Impressum</a>
      <a href="">Datenschutz</a>
    </div>
    <div id="overlay" class="overlay">
        <h1>Anmelden</h1>
      </div>
  </section>
