<div class="dialog">
    <div>
      <h1>Profil</h1>
      <button (click)="close()">X</button>
    </div>
    <img src="{{ avatar }}" alt="" />
    <div>
      <h1>{{ name }}</h1>
    </div>
    <div class="onlineDiv">
      <div *ngIf="online === 'online'" class="{{ online }}"></div>
      <span *ngIf="online === 'online'" class="green">Online</span>
      <div *ngIf="online !== 'online'" class="{{ online }}"></div>
      <span *ngIf="online !== 'online'" class="grey">Offline</span>
    </div>
    <div class="mail">
      <mat-icon>mail</mat-icon>
      <span>E-Mail Adresse</span>
    </div>
    <div>
      <span>{{ email }}</span>
    </div>
  </div>
