<section>
  <!-- <div class="logoDiv">
    <img src="assets/imgs/1. Logo animation.png" alt="">
  </div> -->
  <div class="logo">
    <img src="assets/imgs/logo.png" alt="" />
    <h1>DABubble</h1>
  </div>
  <div class="signUpDiv">
    <p>Neu bei DABubble?</p>
    <a routerLink="/signUp">Konto erstellen</a>
  </div>
  <mat-card>
    <h1>Anmeldung</h1>
    <p>
      Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
      verwendest.
    </p>

    <div class="inputDiv">
      <input
        #emailInput
        [formControl]="emailFormControl"
        placeholder="beispielname@email.de"
        [(ngModel)]="userLogin.email"
        [email]="false"
        (input)="mailInput = true"
      />
      <mat-icon matSuffix>mail</mat-icon>
      @if (!emailFormControl.valid && !emailFormControl.hasError('required')) {
      <mat-error>*Bitte nutze eine gültige E-Mail-Adresse.</mat-error>
      } @if (emailFormControl.hasError('required')&& this.mailInput) {
      <mat-error>*E-Mail wird benötigt.</mat-error>
      } @if (emailFormControl.valid && !emailFormControl.hasError('required')) {
      <mat-error class="green">*E-Mail ist gültig.</mat-error>
      }
    </div>

    <div class="inputDiv">
      <input
        [formControl]="passwordFormControl"
        placeholder="Passwort"
        [(ngModel)]="userLogin.password"
        (input)="pwInput = true"
      />
      <mat-error *ngIf="passwordFormControl.hasError('required') && this.pwInput"
        >*Passwort wird benötigt.</mat-error
      >
      <mat-error
        *ngIf="
          !passwordFormControl.valid &&
          !passwordFormControl.hasError('required')
        "
        >*Einen Groß- & Kleinbuchstaben / eine Zahl und ein Sonderzeichen.
        (Beispiel1!)</mat-error
      >
      <mat-error
        class="green"
        *ngIf="passwordFormControl.valid && validatePassword()"
        >*Passwort ist gültig.</mat-error
      >
      <mat-icon matSuffix>lock</mat-icon>
    </div>

    <a routerLink="/send-email">Passwort vergessen?</a>

    <div class="w-100 d-flex">
      <div class="line"></div>
      ODER
      <div class="line"></div>
    </div>
    <a id="googleLink" class="googleLink" href=""></a>
    <div class="buttonDiv">
      <button (click)="login()" mat-raised-button color="primary">
        Anmelden
      </button>
      <button (click)="loginGuest()" mat-stroked-button color="primary">
        Gäste-Login
      </button>
    </div>
  </mat-card>
  <div class="linksBottom">
    <a routerLink="/impressum">Impressum</a>
    <a routerLink="/privacy">Datenschutz</a>
  </div>
</section>
<router-outlet></router-outlet>
