section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ECEEFE;
  > mat-card {
    width: 500px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
    border-radius: 32px;
    >h1 {
      color: #444DF2;
      font-weight: 700;
      font-size: 46px;
    }
    >p {
      font-size: 16px;
    }
  }
}

.inputDiv {
  position: relative;
  width: 100%;
  >input {
    position: relative;
    width: 100%;
    background-color: #ECEEFE;
    border: unset;
    border-radius: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    &:hover {
      cursor: pointer;
      outline: 1px solid darkgray;
    }
    &::placeholder {
      text-align: center;
    }
    &:focus {
      outline: 1px solid #797EF3;
      text-align: center;
    }
  }
  >mat-icon {
    position: absolute;
    top: 12px;
    left: 48px;
  }
}

.logoDiv {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: #313ae5;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  
  > img {
    position: relative;
      width: 640px;
      animation: startScreen 1s ease 1s 1 forwards;
  }
}

@keyframes startScreen {
  0% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  100% {
    top: -360px;
    right: 360px;
    opacity: 0;
  }
}

.logo {
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    align-items: center;
    gap: 24px;
    >img{
        width: 80px;
    }
    
}

.signUpDiv {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.line {
  width: 100%;
  background-color: lightgray;
  height: 1px;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 4px;
}

.linksBottom {
  position: absolute;
  bottom: 40px;
  display: flex;
  gap: 120px;
}

.buttonDiv {
  display: flex;
  gap: 32px;
  >button{
    border-radius: 32px;
  }
}

a {
  text-decoration: none;
  color: #797EF3;
}

.googleLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
 color: #444DF2;
 padding-top: 12px;
 padding-bottom: 12px;
  width: 100%;
  border-radius: 32px;
  background-color: #ECEEFE;
  &:hover {
    outline: 1px solid darkgrey;
  }
  >img {
    width: 32px;
  }
}

mat-error{
  color: red;
  font-size: 10px;
}

.green {
  color: green;
}
