<section>
  <!-- <div class="logoDiv">
    <img src="assets/imgs/1. Logo animation.png" alt="">
  </div> -->
  <div class="logo">
    <img src="assets/imgs/logo.png" alt="" />
    <h1>DABubble</h1>
  </div>
  <div class="signUpDiv">
    <p>Neu bei DABubble?</p>
    <a routerLink="/signUp">Konto erstellen</a>
  </div>
  <mat-card>
    <h1>Anmeldung</h1>
    <p>
      Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
      verwendest.
    </p>

    <div class="inputDiv">
      <input
        placeholder="beispielname@email.de"
        [(ngModel)]="userLogin.email"
      />
      <mat-icon matSuffix>mail</mat-icon>
    </div>

    <div class="inputDiv">
      <input placeholder="Passwort" [(ngModel)]="userLogin.password" />

      <mat-icon matSuffix>lock</mat-icon>
    </div>

    <a routerLink="/send-email">Passwort vergessen?</a>

    <div class="w-100 d-flex">
      <div class="line"></div>
      ODER
      <div class="line"></div>
    </div>
    <a href="">Anmelden mit Google</a>
    <div>
      <button (click)="login()" mat-raised-button color="primary">
        Anmelden
      </button>
      <button (click)="loginGuest()" mat-stroked-button color="primary">
        Gäste-Login
      </button>
    </div>
  </mat-card>
  <div class="linksBottom">
    <a href="">Impressum</a>
    <a href="">Datenschutz</a>
  </div>
</section>
<router-outlet></router-outlet>
