<section>
  <div class="logo">
    <img src="assets/imgs/logo.png" alt="" />
    <h1>DABubble</h1>
  </div>

  <mat-card>
    <button class="backButton" (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Wähle deinen Avatar</h1>

    <img class="avatar" *ngIf="avatarPicked == false" src="assets/imgs/profileEmpty.png" alt="" />
    <img class="avatar" *ngIf="avatarPicked == true" src="{{imgPath}}" alt="">
    <h2>{{userName}}</h2>
    <p>Aus der Liste wählen:</p>
    <mat-list>
      <img (click)="setAvatar('9')" matListItemAvatar src="assets/imgs/00c.Charaters (2).png" />
      <img (click)="setAvatar('10')" matListItemAvatar src="assets/imgs/00c.Charaters (1).png" />
      <img (click)="setAvatar('12')" matListItemAvatar src="assets/imgs/00c.Charaters (3).png" />
      <img (click)="setAvatar('11')" matListItemAvatar src="assets/imgs/00c.Charaters (4).png" />
      <img (click)="setAvatar('7')" matListItemAvatar src="assets/imgs/00c.Charaters (5).png" />
      <img (click)="setAvatar('8')" matListItemAvatar src="assets/imgs/00c.Charaters (6).png" />
    </mat-list>
    <div class="d-flex">
      eigenes Bild verwenden:
    <button mat-stroked-button color="primary">Datei hochladen</button>
    </div>
    

    <div class="buttonDiv">
      <button (click)="saveUser()" [disabled]="enableButton()" mat-raised-button color="primary">
        Weiter
      </button>
    </div>
  </mat-card>
  <div class="linksBottom">
    <a href="">Impressum</a>
    <a href="">Datenschutz</a>
  </div>
  <div id="overlay" class="overlay">
    <h1>Konto erfolgreich erstellt!</h1>
  </div>
</section>
