<div class="channelRoom">
  <header>
    <h1># {{ channelName }}</h1>
    <div >
      <div *ngFor="let people of peoples;">
        <img src="{{ people.avatar }}" alt="" />
      </div>
      <span>{{ peoples.length }}</span>
    </div>
    <button (click)="openAddUser()"><mat-icon>add_user</mat-icon></button>
    
  </header>
  <div class="channelChat" *ngFor="let message of messages; index as i">
    <div class="dateDiv">
      <div class="chatLine"></div>
      <div class="date">
        <span>{{ timestamps[i] | date : "EE, dd.MM.yyyy" : "de-DE" }}</span>
      </div>
      <div class="chatLine"></div>
    </div>
    <div class="messageDiv">
      <div *ngIf="this.userInfo.Name !== users[i]">
        <img src="{{ avatars[i] }}" alt="" />
      </div>
      <div>
        <div>
          <span>{{ timestamps[i] | date : "' HH:mm " }}Uhr</span>
          <span>{{ users[i] }}</span>
        </div>
        <div>
          <span>{{ message }}</span>
        </div>
        <div>icons</div>
      </div>
      <div *ngIf="this.userInfo.Name == users[i]">
        <img src="{{ this.userInfo.avatar }}" alt="" />
      </div>
    </div>

    <div>
      <a (click)="openThread(i)">antworten</a>
    </div>
  </div>
  <footer>
    <input id="channelInput" type="text" />
    <button (click)="sendMessage()">Send</button>
  </footer>
</div>
