.channelRoom {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 32px;
  height: calc(100vh - 96px);
  transition: 0.25s;
  overflow: visible;
  > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 16px;
    border-radius: 32px 32px 0px 0px;
    > h1 {
      margin-top: 16px;
      margin-left: 32px;
      &:hover {
        cursor: pointer;
        background-color: #eceefe;
      }
    }
    > button {
      margin: 16px;
    }
  }
}

.avatarDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  position: relative;
  margin-right: 23px;
  > button {
    border: unset;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      background-color: #eceefe;
      border-radius: 100%;
    }
  }
  > div {
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-left: 32px;
    padding-right: 16px;
    border-radius: 32px;
    &:hover {
      cursor: pointer;
      background-color: #eceefe;
    }
    > span {
      margin-left: 8px;
    }
    > div {
      > img {
        margin-left: -16px;
        width: 36px;
        border: 2px solid white;
      }
    }
  }
}

.channelChat {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 32px;
  width: 100%;
  margin-bottom: 32px;
}

.chatLine {
  width: 33%;
  height: 1px;
  background-color: #adb0d9;
}

.dateDiv {
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
}

.date {
  display: flex;
  justify-content: center;
  width: 33%;
  border: 1px solid #adb0d9;
  padding: 0px 8px 0px 8px;
  border-radius: 32px;
}

.messageDiv {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  gap: 16px;
  width: 100%;
}
.messageTop {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.messageDivOthers {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 16px;
  width: 100%;
}

.message {
  background-color: #797ef3;
  padding: 16px;
  border-radius: 16px 0px 16px 16px;
}

.messageOthers {
  background-color: #eceefe;
  padding: 16px;
  border-radius: 0px 16px 16px 16px;
}

.messageInfos {
  display: flex;
  flex-direction: column;
  gap: 8px;
  > div {
    > a {
      color: #535af1;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.iconDiv {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

img {
  width: 64px;
  border-radius: 100%;
}

.mgl {
  margin-left: 16px;
}

.mgr {
  margin-right: 16px;
}

footer {
  position: absolute;
  bottom: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 32px;
  margin-right: 32px;
  > div {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px;
    > textarea {
      padding: 16px;
      width: 100%;
      height: 120px;
      border: 1px solid #adb0d9;
      border-radius: 16px;
      resize: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
    > div {
      position: absolute;
      left: 32px;
      right: 32px;
      bottom: 32px;
      display: flex;
      justify-content: space-between;
      > button {
        display: flex;
        align-items: center;
        border: unset;
        background-color: transparent;
        > mat-icon {
          color: #444df2;
          cursor: pointer;
        }
      }
      > div {
        display: flex;
        align-items: center;
        gap: 0px;
        > button {
          border: unset;
          background-color: transparent;
          > mat-icon {
            cursor: pointer;
            padding: 4px;
            &:hover {
              background-color: #eceefe;
              border-radius: 100%;
            }
          }
        }
        > span {
          background-color: black;
          width: 2px;
          height: 50%;
        }
      }
    }
  }
}

mat-drawer {
  width: 360px;
}

.mat-drawer {
  box-shadow: none;
}

.mat-drawer.mat-drawer-end {
  border-radius: 32px;
}

.threadContent {
  position: relative;
}

.toggleButton2 {
  position: absolute;
  top: 16px;
  right: 16px;
  > button {
    border: unset;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    outline: unset;
    &:hover {
      cursor: pointer;
      background-color: #eceefe;
      border-radius: 100%;
    }
  }
}

.width {
  width: calc(100% - 360px) !important;
  transition: 0.25s;
}

.threadTop {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

.threadChat {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}
.d-none {
  display: none;
}

mat-drawer-div {
  position: relative;
  height: calc(100vh);
}

.inputThread {
  position: absolute;
  bottom: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
  > div {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px;
    > textarea {
      padding: 16px;
      width: 100%;
      height: 120px;
      border: 1px solid #adb0d9;
      border-radius: 16px;
      resize: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
    > div {
      position: absolute;
      left: 32px;
      right: 32px;
      bottom: 32px;
      display: flex;
      justify-content: space-between;
      > button {
        display: flex;
        align-items: center;
        border: unset;
        background-color: transparent;
        > mat-icon {
          color: #444df2;
          cursor: pointer;
        }
      }
      > div {
        display: flex;
        align-items: center;
        gap: 0px;
        > button {
          border: unset;
          background-color: transparent;
          > mat-icon {
            cursor: pointer;
            padding: 4px;
            &:hover {
              background-color: #eceefe;
              border-radius: 100%;
            }
          }
        }
        > span {
          background-color: black;
          width: 2px;
          height: 50%;
        }
      }
    }
  }
}

.threadContent {
  position: relative;
  height: calc(100vh - 96px);
}

.mgb {
  margin-bottom: 16px;
}

.lineDiv {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 16px;
  padding-right: 16px;
  > span {
    width: 120px;
    color: #adb0d9;
  }
}
.line {
  width: 100%;
  height: 1px;
  background-color: #adb0d9;
}

.backButton {
  display: none;
}

@media (max-width: 520px) {
  .channelRoom {
    border-radius: 0px;
    height: calc(100vh - 96px);
    > header {
      padding-bottom: 0px;
      border-radius: 0px;
      > h1 {
        font-size: 18px;
        margin-top: 16px;
        margin-left: 16px;
        &:hover {
          cursor: pointer;
          background-color: #eceefe;
        }
      }
      > button {
        margin: 16px;
      }
    }
  }

  .avatarDiv {
    flex-wrap: unset;
    gap: 8px;
    margin-right: 0px;
    > div {
      > div {
        > img {
          width: 28px;
        }
      }
    }
  }

  .message {
    margin-left: 16px;
  }

  .messageOthers {
    margin-right: 16px;
  }

  .date {
    width: 50%;
  }

  mat-drawer {
    width: 100%;
  }

  .mat-drawer.mat-drawer-end[_ngcontent-ng-c2993336596] {
    border-radius: 0px;
  }

  .threadTop {
    > h1 {
      font-size: 18px;
      margin: 0;
    }
  }

  .lineDiv[_ngcontent-ng-c2993336596] > span[_ngcontent-ng-c2993336596] {
    width: 130px;
    color: #adb0d9;
  }

  .backButton {
    border: unset;
    background-color: white;
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 100%;
    &:hover {
      cursor: pointer;
      background-color: #eceefe;
    }
  }
}
