<div class="dialog">
  <button (click)="dialogRef.close()"><mat-icon>close</mat-icon></button>
  <h2 mat-dialog-title>Channel erstellen</h2>
  <p>
    Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
    themenbezogen sein #marketing zum Beispiel.
  </p>
  <div mat-dialog-content>
    <div>
      <h3>Channel-Name</h3>
      <mat-form-field>
        <input matInput
          class="input"
          [(ngModel)]="channel.name"
          placeholder="z.B. Kooperationsprojekte"
        />
      </mat-form-field>
    </div>
    <div>
      <h3><b>Beschreibung</b> (optional)</h3>
      <mat-form-field>
        <input matInput
          class="input"
          [(ngModel)]="channel.description"
          placeholder="Dein Text hier"
        />
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button
        mat-raised-button
        style="
          background-color: #444df2;
          color: white;
          position: absolute;
          bottom: 16px;
          right: 16px;
        "
        (click)="saveChannel()"
      >
        Erstellen
      </button>
    </div>
  </div>
</div>
