<div id="channelRoom" class="channelRoom">
  <header>
    <button (click)="removeIndex()" class="backButton"><mat-icon>arrow_back</mat-icon></button>
    <div *ngIf="chatName === this.userInfo.Name" (click)="openProfile()">
      <img src="{{ chatAvatar }}" alt="" />
      <h1>{{ chatName }}</h1>
      <div class="{{ chatOnline }}"></div>
    </div>
    <div *ngIf="chatName !== this.userInfo.Name" (click)="openProfileFriend()">
      <img src="{{ chatAvatar }}" alt="" />
      <h1>{{ chatName }}</h1>
      <div class="{{ chatOnline }}"></div>
    </div>
  </header>
  <div class="channelChat" *ngFor="let message of messages; index as i">
    <div class="dateDiv">
      <div class="chatLine"></div>
      <div class="date">
        <span>{{ timestamps[i] | date : "EE, dd.MM.yyyy" : "de-DE" }}</span>
      </div>
      <div class="chatLine"></div>
    </div>
    <div *ngIf="this.userInfo.Name === users[i]" class="messageDiv">
      <div class="messageInfos">
        <div class="messageTop">
          <span> {{ timestamps[i] | date : "' HH:mm " }}Uhr</span>
          <span>
            <b>{{ users[i] }}</b></span
          >
        </div>

        <div class="message">
          <span>{{ message }}</span>
        </div>
        <div class="iconDiv">
          <emoji-mart
            id="reactions"
            class="d-none"
            (emojiClick)="addReaction($event)"
            [style]="{ position: 'absolute', bottom: '40px', left: '16px' }"
            title="Pick your emoji…"
            emoji="point_up"
          ></emoji-mart>
          <div *ngFor="let icon of icons">{{ icon }}</div>
          <mat-icon (click)="reaction()">add_reaction</mat-icon>
        </div>
      </div>
      <div>
        <img class="mgr" src="{{ this.userInfo.avatar }}" alt="" />
      </div>
    </div>

    <div *ngIf="this.userInfo.Name !== users[i]" class="messageDivOthers">
      <div>
        <img class="mgl" src="{{ avatars[i] }}" alt="" />
      </div>
      <div class="messageInfos">
        <div>
          <span
            ><b>{{ users[i] }}</b></span
          >
          <span>{{ timestamps[i] | date : "' HH:mm " }}Uhr</span>
        </div>
        <div class="messageOthers">
          <span>{{ message }}</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="messages.length == 0" class="chatMessageDiv">
    <div *ngIf="chatName === this.userInfo.Name" (click)="openProfile()">
      <img src="{{ chatAvatar }}" alt="" />
      <span><b>{{ chatName }}</b></span>
    </div>
    <span *ngIf="chatName === this.userInfo.Name"
      ><span>Dieser Raum ist nur für dich da.</span>Mache dir Notizen, liste deine To-dos
      auf oder bewahre Links und Dateien griffbereit auf. Du kannst hier auch
      gerne Dinge mit dir selbst besprechen.</span
    >
    
      <div *ngIf="chatName !== this.userInfo.Name" (click)="openProfileFriend()">
        <img src="{{ chatAvatar }}" alt="" />
        <span><b>{{ chatName }}</b></span>
      </div>
    <span *ngIf="chatName !== this.userInfo.Name"
      >Diese Unterhaltung findet nur zwischen
      <span 
        ><mat-icon>alternate_email</mat-icon>{{ chatName }}</span
      >
      und dir statt.</span
    >
  </div>
  <footer>
    <div>
      <textarea
        id="chatInput"
        type="text"
        placeholder="Nachricht an {{ chatName }}" (keydown.enter)="handleEnterKeyPress('chatroom')"
      ></textarea>
      <div>
        <div>
          <button><mat-icon>add</mat-icon></button>
          <span></span>
          <emoji-mart
            id="emoji"
            class="d-none"
            (emojiClick)="addEmoji($event)"
            [style]="{ position: 'absolute',
            bottom: '40px',
            left: '0px',
            width: '100%' }"
            title="Pick your emoji…"
            emoji="point_up"
          ></emoji-mart>

          <button (click)="emojis()"><mat-icon>mood</mat-icon></button>
          <button><mat-icon>alternate_email</mat-icon></button>
        </div>
        <button><mat-icon (click)="sendMessage()">send</mat-icon></button>
      </div>
    </div>
  </footer>
</div>
