<section>
  <div class="logo">
    <img src="assets/imgs/logo.png" alt="" />
    <h1>DABubble</h1>
  </div>

  <mat-card>
    <button class="backButton" (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Passwort zurücksetzen</h1>

    <p>Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
    <div class="inputDiv">
      <input [formControl]="emailFormControl" placeholder="beispielname@email.de" [(ngModel)]="this.mailAdress" />
      <mat-icon matSuffix>mail</mat-icon>
      @if (!emailFormControl.valid &&
      !emailFormControl.hasError('required')) {
      <mat-error>*Bitte nutze eine gültige E-Mail-Adresse.</mat-error>
      } @if (emailFormControl.hasError('required')) {
      <mat-error>*E-Mail wird benötigt.</mat-error>
      } @if (emailFormControl.valid &&
      !emailFormControl.hasError('required')) {
      <mat-error class="green">*E-Mail ist gültig.</mat-error>
      }
    </div>

    <p class="grey">
      Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
    </p>
    <div class="buttonDiv">
      <button
        (click)="sendEmail(this.mailAdress)"
        [disabled]="enableButton()"
        mat-raised-button
        color="primary"
      >
        E-Mail senden
      </button>
    </div>
  </mat-card>
  <div class="linksBottom">
    <a href="">Impressum</a>
    <a href="">Datenschutz</a>
  </div>
  <div id="overlay" class="overlay">
    <img src="assets/imgs/send.png" alt="" />
    <h1>E-mail gesendet!</h1>
  </div>
</section>
