<div class="dialog">
  <h1># {{ channelName }}</h1>
  <button class="closeButton" (click)="close()"><mat-icon>close</mat-icon></button>
  <div class="border">
    <div>
      <h2>Channel-Name</h2>
    </div>
    <input
      type="text"
      placeholder="# {{ channelName }}"
      [value]="channelName"
      [(ngModel)]="channelName"
    />
  </div>
  <div class="border">
    <div>
      <h2>Beschreibung</h2>
    </div>
    <input
      type="text"
      placeholder="{{ channelDescription }}"
      [value]="channelDescription"
      [(ngModel)]="channelDescription"
    />
  </div>
  <div class="line"></div>
  <div>
    <h3>Erstellt von</h3>
    <h1 style="color: #535AF1;">{{userInfo.Name}}</h1>
  </div>
  <div></div>
  <button class="saveButton" (click)="closeAndSave()">
    Channel aktualisieren
  </button>
</div>
