<div class="dialog">
  <h1># {{ channelName }}</h1>
  <button (click)="close()">X</button>
  <div>
    <div>
      <h2>Channel-Name</h2>
      <button>Bearbeiten</button>
    </div>
    <input
      type="text"
      placeholder="# {{ channelName }}"
      [value]="channelName"
      [(ngModel)]="channelName"
    />
  </div>
  <div>
    <div>
      <h2>Beschreibung</h2>
      <button>Bearbeiten</button>
    </div>
    <input
      type="text"
      placeholder="{{ channelDescription }}"
      [value]="channelDescription"
      [(ngModel)]="channelDescription"
    />
  </div>
  <div class="line">trennlinie</div>
  <div>
    <h2>Erstellt von</h2>
    <h1>irgend ein Name</h1>
  </div>
  <button (click)="closeAndSave()">Channel aktualisieren</button>
</div>
