<section (click)="clearSearch()">
  <header>
    <div class="logo">
      <img src="assets/imgs/logo.png" alt="" />
      <h1>DABubble</h1>
    </div>
    <div class="inputDiv">
      <input
        id="searchInput"
        (click)="search()"
        [(ngModel)]="searchInput"
        (input)="search()"
        matInput
        placeholder="Code learning durchsuchen"
      />
      <mat-icon matSuffix>search</mat-icon>
      <div id="searchResultsDiv" class="searchResultsDiv d-none">
        <span *ngFor="let friend of friendsFiltered"
          ><img src="{{ friend.avatar }}" alt="" /> {{ friend.Name }}</span
        >
        <span
          *ngFor="let channel of channelsFiltered"
          routerLink="{{ channel.link }}/{{ channel.id }}"
          ># {{ channel.name }}</span
        >
        <!-- <span *ngFor="let message of messagesFiltered">{{message.messages}}</span> -->
        <!-- <span *ngFor="let thread of threadsFiltered">{{thread.message}}</span> -->
      </div>
    </div>

    <div class="profileDiv" [matMenuTriggerFor]="beforeMenu">
      <h1 *ngIf="!googleAcc">{{ userInfo.Name }}</h1>
      <h1 *ngIf="googleAcc">{{ userInfo.name }}</h1>
      <div>
        <img *ngIf="!googleAcc" src="{{ userInfo.avatar }}" alt="" />
        <img *ngIf="googleAcc" src="{{ userInfo.picture }}" alt="" />
        <div class="onlineUser"></div>
      </div>
      <mat-icon>expand_more</mat-icon>
    </div>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="openProfile()">Profil</button>
      <button mat-menu-item (click)="logout()">Log out</button>
    </mat-menu>
  </header>
  <mat-drawer-container class="content-container" autosize>
    <mat-drawer #drawer opened mode="side">
      <div class="leftTop">
        <img src="assets/imgs/Workspace logo.png" alt="" />
        <h2>Code learning</h2>
        <!-- <button mat-button><mat-icon>edit_square</mat-icon></button> -->
      </div>
      <div>
        <div class="d-flex">
          <div>
            <button
              id="channelsButton"
              class="turn"
              (click)="showList('channels')"
            >
              <mat-icon>navigate_next</mat-icon>
            </button>
            <mat-icon>spoke</mat-icon>
            <h3>Channels</h3>
          </div>
          <button (click)="openDialog()">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
        <div class="channels" id="channels">
          <mat-nav-list>
            <a
              mat-list-item
              *ngFor="let channel of channels"
              routerLink="{{ channel.link }}/{{ channel.id }}"
              routerLinkActive="isActive"
              ># {{ channel.name }}</a
            >
          </mat-nav-list>
        </div>
      </div>
      <div class="d-flexChannel">
        <button (click)="openDialog()"><mat-icon>add_circle</mat-icon></button>
        <h3>Channel hinzufügen</h3>
      </div>
      <div>
        <div class="d-flex">
          <div>
            <button
              id="friendsButton"
              class="turn"
              (click)="showList('friends')"
            >
              <mat-icon>navigate_next</mat-icon>
            </button>
            <mat-icon>person</mat-icon>
            <h3>Direktnachrichten</h3>
          </div>
        </div>
        <div class="friends" id="friends">
          <mat-list *ngIf="!googleAcc">
            <mat-list-item
              *ngFor="let friend of friends"
              routerLink="chat/{{ friend.Name }}" routerLinkActive="isActive"
            >
              <img matListItemAvatar src="{{ friend.avatar }}" />
              <div class="{{ friend.online }}"></div>
              <h3 matListItemTitle>
                {{ friend.Name }}
                <span *ngIf="friend.Name == userInfo.Name">(Du)</span>
              </h3>
              <p matListItemLine>
                <span>{{ friend.Job }}</span>
              </p>
            </mat-list-item>
          </mat-list>
          <mat-list *ngIf="googleAcc">
            <mat-list-item routerLink="chat/{{ userInfo.name }}" routerLinkActive="isActive">
              <img matListItemAvatar src="{{ userInfo.picture }}" />
              <div class="online"></div>
              <h3 matListItemTitle>{{ userInfo.name }} <span>(Du)</span></h3>
              <p matListItemLine>
                <span>Student</span>
              </p>
            </mat-list-item>
            <mat-list-item
              *ngFor="let friend of friends"
              routerLink="chat/{{ friend.Name }}" routerLinkActive="isActive"
            >
              <img matListItemAvatar src="{{ friend.avatar }}" />
              <div class="{{ friend.online }}"></div>
              <h3 matListItemTitle>
                {{ friend.Name }}
                <span *ngIf="friend.Name == userInfo.Name">(Du)</span>
              </h3>
              <p matListItemLine>
                <span>{{ friend.Job }}</span>
              </p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content class="overflow">
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <div class="toggleButton1" (click)="drawer.toggle()">
    <div class="workspaceButton" type="button">
      <span>Workspace-Menü schließen</span>
      <img src="assets/imgs/Show menu.png" alt="" />
    </div>
  </div>
</section>
