section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: #eceefe;
  height: 100vh;
  position: relative;
}
header {
  display: flex;
  align-items: center;
  width: 100%;
}

.inputDiv {
  position: relative;
  width: 100%;
  > input {
    width: 100%;
    padding: 16px;
    border: unset;
    border-radius: 32px;
    position: relative;
    font-size: 16px;
    &::placeholder {
      color: #686868;
    }
    &:focus {
      outline: none;
    }
  }
  > mat-icon {
    position: absolute;
    top: 16px;
    right: 0;
    color: #686868;
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 360px;
  margin-right: 100px;
  padding-left: 16px;
  padding-right: 16px;
  > img {
    width: 80px;
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: bold;
}

.profileDiv {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 360px;
  margin-left: 100px;
  padding-left: 16px;
  padding-right: 16px;
  > div {
    > img {
      width: 64px;
      border-radius: 100%;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.content-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  > mat-drawer {
    
    border-radius: 32px;
  }
}

mat-drawer-content {
  background-color: #eceefe;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  > div {
    height: 100%;
    border-radius: 32px;
  }
}

.toggleButton1 {
  position: absolute;
  left: -90px;
  bottom: 240px;
  z-index: 3;
  transform: rotate(-90deg);
  background-color: white;
  box-shadow: 0 4px 8px 2px rgba($color: #000000, $alpha: 0.2);
  padding: 8px;
  border-radius: 0px 0px 32px 32px;
  &:hover {
    cursor: pointer;
  }
}

.workspaceButton {
  display: flex;
  align-items: center;
  > img {
    transform: rotate(90deg);
  }
}

.toggleButton2 {
  position: absolute;
  top: 16px;
  right: 0;
}

.leftTop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.onlineUser {
  position: absolute;
  top: 48px;
  right: 48px;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: green;
  border: 2px solid white;
}

.online {
  position: absolute;
  top: 44px;
  left: 44px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: green;
  border: 2px solid white;
}

.notonline {
  position: absolute;
  top: 44px;
  left: 44px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: grey;
  border: 2px solid white;
}

.d-flex {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-top: 16px;
  > div {
    padding: 0px 32px 0px 32px;
    display: flex;
    gap: 16px;
    > button {
      border: unset;
      background-color: transparent;
      cursor: pointer;
    }
  }

  > button {
    margin: 0px 32px 0px 32px;
    border: unset;
    background-color: transparent;
    cursor: pointer;
  }
}

.d-flexChannel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  > button {
    border: unset;
    background-color: transparent;
    cursor: pointer;
  }
}

.channels {
  display: flex;
  justify-content: center;
}

.friends {
  display: flex;
  justify-content: center;
}

.d-none {
  display: none;
}

.turn {
  transform: rotate(90deg);
}

.overflow {
  overflow: hidden;
}

.isActive {
  background-color: #eceefe;
  border-radius: 16px;
}

a {
  border-radius: 16px;
}
