<div class="dialog">
  <h1>Mitglieder</h1>
  <button class="closeButton" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="list">
    <div *ngFor="let people of peoples" (click)="openFriendProfile(people.Name)">
      <img src="{{ people.avatar }}" alt="" />
      <span>{{ people.Name }}</span>
    </div>
  </div>
  <div class="buttonDiv">
    <button class="addButton" (click)="openAddUser()">
      <mat-icon>person_add</mat-icon> Mitglieder hinzufügen
    </button>
  </div>
</div>
